<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {%block script-link%}{%endblock%}
  </head>
  <body>

    <header>

          {%block side-bar%}

          {%endblock%}

    </header>
      <div class="content">
        {%block content%}{%endblock%}
      </div>
    <script type="text/javascript">
          {%block script%}{%endblock%}
        </script>
  </body>
</html>
