{%extends 'baseLayout.html'%}
{# Load the tag library #}
{% load bootstrap3 %}
{% bootstrap_css %}
{# Load CSS and JavaScript #}
{% bootstrap_javascript %}
{%block title%}Criar Contato{%endblock%}
    {%block script-link%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    {%endblock%}
{%block side-bar%}

<div class="side-bar">
    <span  class='plus-icon'>{% bootstrap_icon "plus" %}</span>
    <p>Novo Contato</p>
</div>
<style>
.side-bar{
  margin-top:-25px;
  }
</style>
{%endblock%}
{%block content%}

{%endblock%}
{%block script%}
 <script type="text/javascript">
        $("#id_Celular").mask("(00)00000-0000");
</script>
<script type="text/javascript">
      var myContentDivs=document.getElementsByClassName("card");
      var myH5 = myContentDivs[0].getElementsByTagName('h5')
</script>

{%endblock%}
