{%extends 'baseLayout.html'%}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{%block title%}Lista de Contatos{%endblock%}
{%block side-bar%}
<div class="side-bar">
    <span  class='plus-icon'>{% bootstrap_icon "user" %}</span>
    <p>Meus Contatos</p>
</div>
{%endblock%}

{%block content%}
<div class="row">
  <div class='col-sm-3'><a href="#">  FILTRO</a></div>
  <div  class='col-sm-3'><a href="#"> CADASTRAR CONTATO</a> </div>
</div>
    <table class='table table-striped '>
      <thead>

        <tr>
          <td>Nome</td>
          <td>Email</td>
          <td>Celular</td>
          <td>Acoes</td>
        </tr>
              </thead>
            {% for contato in contatos %}
      <tr>
          <td>{{contato.Nome|truncatewords:5}}</td>
          <td>{{contato.Email}}</td>
          <td>{{contato.Celular}}</td>
          <td> <a href="{%url 'polls:editar' contato.id %}">{% bootstrap_button "Editar" button_type="submit" button_class="btn-primary" %}</a> </td>
          <td> <a href="{%url 'polls:deletar' contato.id %}"> {% bootstrap_button "Deletar" button_type="submit" button_class="btn-primary" %} </a></td>
      </tr>
            {% endfor %}
    </table>
{%endblock%}
  </body>
</html>
